.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: -25px 24px 16px 0;
}
.TrialGame {
  background: #12c2e9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100vh;
  padding: 50px;
}
.TrialGame h1,
.Game h1 {
  color: #ffffff;
}
.TrialGame Button,
.Game Button {
  background-color: #de4383;
  color: #ffffff;
  margin-top: 50px;
  margin-bottom: 20px;
}
#gamefirst {
  background-color: #4367de;
  color: #ffffff;
  margin-top: 50px;
  margin-bottom: 20px;
}
.blocks {
  padding: 3em 7em 1em;
  font-size: 20px;
}
.blocks-end {
  padding: 1em 7em;
  font-size: 18px;
  text-align: end;
}
.blocks-start {
  padding: 1em 7em;
  font-size: 20px;
}
#landing_logo {
  margin-top: 60px;
  font-size: 20px;
}
#gameNav {
  padding-bottom: 20px;
}
#background {
  background: #4cb8c4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3cd3ad,
    #4cb8c4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3cd3ad,
    #4cb8c4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-bottom: 20px;
}
#background1 {
  background: #77a1d3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e684ae,
    #79cbca,
    #77a1d3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e684ae,
    #79cbca,
    #77a1d3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#box {
  color: floralwhite;
  padding: 16px;
  background-color: #18c737;
  border: 4px solid white;
  background-color: #08aeea;
  background-image: radial-gradient(
    circle farthest-corner at 16.5% 28.1%,
    rgba(15, 27, 49, 1) 0%,
    rgba(0, 112, 218, 1) 90%
  );
}

#box h1,
h3 {
  color: floralwhite;
  font-family: -apple-system;
  font-weight: 600;
}
#images {
  border: 4px solid sienna;
}
#center_paragraph {
  text-align: center;
}
#rectangle {
  background-color: #774898;
  padding: 10px;
}
#sub_paragraph {
  color: #ffffff;
  text-align: center;
}
#colored_button {
  background-color: #de4383;
  margin-top: 20px;
}
#colored_button:hover {
  padding-top: 10px;
  color: black;
}
#roots_button {
  background-color: skyblue;
  color: black;
  margin-top: 20px;
  width: 14em;
  font-size: 500;
}
#roots_button:hover {
  background-color: burlywood;
  padding: 10px;
}

.modals {
  font-size: 25px;
  font-family: fantasy;
  text-align: center;
}

#row_margin {
  margin-bottom: 20px;
}
#title {
  padding: 30px;
  font-size: large;
  font-weight: bold;
}
#trophy {
  background-color: #00a8b5;
  padding: 15px;
  color: #ffffff;
  width: 50%;
  margin-bottom: 10px;
}

ul li {
  font-size: smaller;
  font-weight: normal;
}
.Game {
  background: #c6ffdd; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f7797d,
    #fbd786,
    #c6ffdd
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f7797d,
    #fbd786,
    #c6ffdd
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100vh;
}
