.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: -25px 24px 16px 0;
}
.TrialGame {
  background-color: #a8e065;
  min-height: 100vh;
  padding: 50px;
}
.TrialGame h1,
.Game h1 {
  color: #ffffff;
}
.TrialGame Button,
.Game Button {
  background-color: #de4383;
  color: #ffffff;
  margin-top: 50px;
}
.blocks{
  padding: 3em 7em 1em;
  font-size: 20px;
}
.blocks-end{
  padding: 1em 7em;
  font-size: 18px;
  text-align: end;
}
.blocks-start{
  padding: 1em 7em;
  font-size: 20px;
}
#landing_logo {
  margin-top: 60px;
  font-size: 20px;
}
#gameNav{
  padding-bottom: 20px;
}
#background {
  background-color: #f3ae4b;
  padding-bottom: 20px;
}
#box {
 
  color: floralwhite;
  padding: 16px;
  background-color: #18c737;
  background-image: linear-gradient(29deg, #18c737 0%, #acac6c 100%);
  border: 5px solid rgb(63, 135, 163);

}

#box h1,
h3 {
  color: floralwhite;
  font-family: -apple-system;
  font-weight: 600;
}
#images{
  border: 4px solid sienna;
}
#center_paragraph {
  text-align: center;
}
#rectangle {
  background-color: #774898;
  padding: 10px;
}
#sub_paragraph {
  color: #ffffff;
  text-align: center;
}
#colored_button {
  background-color: #de4383;
  margin-top: 20px;
}
#roots_button {
  background-color: #750bb300;
  border: 3px solid white;
  color: #ffffff;
  margin-top: 20px;
  width: 14em;
  font-size: 400;
}
#roots_button :hover {

  padding: 3px;
  
}
#row_margin {
  margin-bottom: 20px;
}
#title {
  padding: 30px;
  font-size: large;
  font-weight: bold;
}
#trophy {
  background-color: #00a8b5;
  padding: 15px;
  color: #ffffff;
  width: 50%;
  margin-bottom: 10px;
}
ul li {
  font-size: smaller;
  font-weight: normal;
}
.Game {
  background-color: #774898;
  min-height: 100vh;

}
