.logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: -25px 24px 16px 0;
}
.TrialGame{
    background-color: #A8E065;
    min-height: 100vh;
    padding: 200px;
}
.TrialGame h1, .Game h1{
    color: #ffffff;
}
.TrialGame Button, .Game Button{
    background-color: #de4383;
    color: #ffffff;
}
#landing_logo {
    margin-top: 60px;
    
}
#background {
    background-color: #f3ae4b;
    padding-bottom: 20px;
}
#center_paragraph {
    text-align: center;
}
#rectangle {
    background-color: #774898;
    padding: 10px;
}
#sub_paragraph {
    color: #ffffff;
    text-align: center;
}
#colored_button {
    background-color: #de4383;
}
#row_margin {
    margin-bottom: 20px;
}
.Game{
    background-color: #774898;
    min-height: 100vh;
    padding: 200px;
}
