
#form{
    background-image: radial-gradient(circle at 61.42% 38.58%, #c1fa4c 0, #a8f453 12.5%, #8fec5a 25%, #73e360 37.5%, #55d865 50%, #30cd69 62.5%, #00c26e 75%, #00b973 87.5%, #00b178 100%);
    padding: 100px;
    min-height: 100vh;
    
}


