#form1 {
  padding-top: 250px;
}

#form2 {
  padding-top: 100px;
}

Form,
Select,
#seelect-year {
  width: 800px;
}

#form1,
#form2,
Form.Item button {
  background-color: #a8e065;
  padding: 100px;
  text-align: center;
  justify-content: center;
}

#form input {
  padding: 300px;
}
#seelect-year {
  padding: 0px;
  text-align: left;
}
