#form1{
    padding-top: 250px;   
}

#form2{
    padding-top: 100px;
}

Form,
Select{
    width: 800px; 
}

#form1,
#form2, Form button{
    background-color: #A8E065;
    padding: 100px;
    text-align: center;
    justify-content: center;
}


#form input{
    padding: 300px;
}
